---
layout: splash
title: "Neha Sindhu"
excerpt: "Bioinformatics • scRNA‑seq • Multi‑omics • AI/ML"
header:
  overlay_color: "#000"
  overlay_filter: 0.25
  overlay_image: /assets/images/banner.jpg
  actions:
    - label: "Download CV"
      url: "/assets/NehaSindhu-v3-Resume.pdf"
      class: "btn btn--primary"
    - label: "Email me"
      url: "mailto:nehaprs.binf@gmail.com"
      class: "btn"
intro: 
  - excerpt: 'Hello! I am Neha, and I'd like to call myself a keyboard biologist. I work with different kinds of omics datasets
to create meaningful biological insights. Welcome to my bioinformatics portfolio. Most of the projects featured here are done
as part of my PhD program (graduating soon!). My thesis projects include single cell and multiomics. Apart from that, I also take
up projects as bioinformatics support for collaborating labs. 
If you see something interesting here or just want to talk some bioinformatics, feel free to say hi!'
feature_row:
  - image_path: /assets/images/feat_scrnaseq.png
    alt: "scRNA-seq"
    title: "Single‑cell"
    excerpt: "Clustering, integration, trajectory inference, annotation, and more."
    url: "https://github.com/nehaprs/NeuralCrest_singlecell"
    btn_label: "See work"
    btn_class: "btn--small"
  - image_path: /assets/images/feat-multiomics.png
    alt: "Multi-omics"
    title: "Multi‑omics"
    excerpt: "Integrated analysis of different omics assays. Novel Pipelines for biomarker discovery"
    url: "https://github.com/nehaprs/Multi_omics"
    btn_label: "See work"
    btn_class: "btn--small"
  - image_path: /assets/images/feat-nn.png
    alt: "Machine Learning"
    title: "Machine Learning"
    excerpt: "Reproducible machine learning pipeline on public health datasets."
    url: "https://github.com/nehaprs/Personal-Projects"
    btn_label: "See work"
    btn_class: "btn--small"
  
---

{% include feature_row id="intro" type="center" %}
{% include feature_row %}
